body {
    font-family: 'Futura Extra Light', sans-serif;
    background-color: #FFF5EE;
    margin: 40px; 
    padding: 0;
    color: #2D1300;
    box-sizing: border-box;
}

h1, h3 {
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 20px;
    font-weight: medium;
    font-weight: 500;
    margin-right: -200px;
}

h3 {
    font-family: 'Futura Extra Light', sans-serif;
    font-size: 36px;
}


header nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.logo img {
    width: 50px;
    height: 50px;
}


.links {
  display: flex;
  justify-content: space-between; 
  padding: 20px;
  margin-top: -35px;
  margin-right: -50px;
}

.links a {
  text-decoration: none;
  color: #2D1300; 
  font-size: 18px;
  padding: 20px;
}

.links a:hover {
  text-decoration: underline;
  color: #FF9C53
}


.new-image img {
    display: flex;
    justify-content: center;
    width: 40px;
    height: auto;
    margin-left: 30px; 
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    text-align: left;
}

.left-column, .right-column {
    width: 50%;
}

.profile-pic {
    display: flex;
    justify-content: center;
}

.profile-pic img {
    width: 400px;
    border: 2px solid #FF9C53; 
    height: auto;
    border-radius: 50%;
}
.extra-image img {
    position: absolute;
    left: 0; 
    margin-left: -0px; 
    top: 320px; 
    width: 450px; 
    height: auto;
    z-index: 1; 
}
.extra-image-2 img {
    position: relative;
    float: right; 
    margin-right: -640px;
    top: 590px; 
    width: 150px;
    height: auto;
    z-index: 1; 
}
.intro-text {
    padding-left: 40px;
    margin-left: -70px;
}

.intro-text p {
    font-size: 18px;
    margin: 10px 0;
    margin-right: 100px;
    margin-top: 10px;
    font-weight: 50;
}

.contact-heading {
    text-align: right;
    margin: 10px 440px;
}

.contact-section {
    background-color: #E5E6EB;
    padding: 40px;
    margin: 20px;
    border-radius: 1px;
    width: 50%;
    float: right;
    border-radius: 50px 80px 0px 50px; 
}

.contact-form h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.contact-form p {
    font-size: 16px;
    margin-bottom: 20px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form input[type="text"] {
    width: 200px; 
    height: 20px; 
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #2D1300;
    border-radius: 50px 80px 0px 50px; 
    background-color: #FFF5EE;
}

.contact-form textarea {
    width: 670px; 
    height: 120px; 
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #2D1300;
    border-radius: 30px 50px 0px 30px; 
    background-color: #FFF5EE;
}

.contact-form button {
    background-color: #2D1300;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 50px 50px 50px 50px; 
    align-self: flex-start; 
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #2D1300;
}

.footer-info {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    border-top: 1px solid #ccc;
    font-size: 16px;
    width: 100%;
}

.top-row {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
}

.location {
    display: flex;
    align-items: center;
}

.location img {
    margin-right: 10px;
    width: 34px;
    height: 24px;
}

.social-container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
    margin-top: 10px;
}

.extra-image-text {
    display: flex;
    align-items: center;
}

.extra-image-text img {
    height: 24px;
    width: 24px;
    margin-right: 20px;
}

.social-links {
    display: flex;
    align-items: center;
}

.social-links a {
    margin: 0 15px;
}

.social-links img {
    width: 32px;
    height: 32px;
    filter: grayscale(100%) opacity(80%);
    transition: filter 0.1s ease;
}

.social-links img:hover {
    filter: grayscale(0%);
}
